<section id="secondary_bar">
		<div class="user">
			<p id='no-logo'>What is AntHill ?</p>
		</div>
		<div class="breadcrumbs_container">
		</div>
	</section><!-- end of secondary bar -->
	
	<aside id="sidebar" class="column">
		<h3>Stay organised</h3>
		<ul>
			<li>Create projects</li>
			<li>Lists</li>
			<li>User roles</li>
		</ul>
		
		<footer>
			<hr />
			<p><strong>Copyright &copy; 2013 SUP'Internet</strong></p>
			<p>Our names here</p>
		</footer>
	</aside><!-- end of sidebar -->