{% block header %}
	
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<meta name="description" content="" />
		<meta name="author" content="" />
				
		<title>{{ title }}</title>
	</head>
	
{% endblock %}
<body>

{% block content %}
	<p>Ceci est le contenu par default</p>
{% endblock %}

{% block footer %}
	
	<p>Ceci est un footer</p>
	
{% endblock %}
</body>
</html>
