{% extends 'layout.html.twig' %}

{% block content %}
	{% include 'header.html.twig' %}
	{% include 'menu.html.twig' %}
	
	<section id="main" class="column">
		
		{#<h4 class="alert_info">Welcome to the free MediaLoot admin panel template, this could be an informative message.</h4>#}
		<article class="module width_full">
			<form method='POST' action="{{WEB_PATH}}/project/new" name="newproject">
			<header><h3>Create a new Project</h3></header>
			{% if error is defined %}
				<h4 class="alert_warning">{{error}}</h4>
			{% endif %}
				<div class="module_content">
					<fieldset>
						<label>Title (name)</label>
						<input type="text" name='title'>
					</fieldset>
					<fieldset>
						<label>Content (description)</label>
						<input type="text" name='content'>
					</fieldset>
					<div class="clear"></div>
				</div>
			<footer>
				<div class="submit_link">
					<input type="submit" value="Create" class="alt_btn">
				</div>
			</footer>
		</form>
		</article><!-- end of post new article -->
		
		<!--
		<h4 class="alert_warning">A Warning Alert</h4>
		<h4 class="alert_error">An Error Message</h4>
		<h4 class="alert_success">A Success Message</h4>
		-->
		
		{% block footer %}
			<div class="spacer"></div>
		{% endblock footer %}
	</section>
{% endblock %}